In [5]:
import pandas as pd

In [12]:
pdCampCon = pd.read_csv("/Users/shonk/Documents/JupiterNotebook/BelcorpData/campana_consultora.csv")

In [13]:
pdCampCon.head()

,Unnamed: 0,campana,IdConsultora,Flagpasopedido,flagactiva,flagpasopedidocuidadopersonal,flagpasopedidomaquillaje,flagpasopedidotratamientocorporal,flagpasopedidotratamientofacial,flagpedidoanulado,...,codigocanalorigen,evaluacion_nuevas,segmentacion,flagpasopedidoweb,cantidadlogueos,flagdispositivo,flagdigital,flagofertadigital,flagsuscripcion,geografia
0,0,201807,21821,0,1,0.0,0.0,0.0,0.0,0.0,...,NaN,Est,Nivel5,0.0,NaN,0,NaN,0.0,0,15 SUR GRANDE
1,1,201807,81604,0,1,0.0,0.0,0.0,0.0,0.0,...,NaN,Est,Nivel2,0.0,0.0,0,NaN,0.0,1,17 SANTIAGO PONIENTE
2,2,201807,134091,1,1,1.0,1.0,1.0,0.0,0.0,...,NaN,Est,Nivel5,1.0,2.0,1,0.0,0.0,0,16 SUR AUSTRAL
3,3,201807,176046,0,0,0.0,0.0,0.0,0.0,0.0,...,NaN,Est,Nivel2,0.0,NaN,0,NaN,0.0,0,17 SANTIAGO PONIENTE
4,4,201807,204546,1,1,1.0,1.0,0.0,1.0,0.0,...,NaN,Est,Nivel4,1.0,3.0,1,0.0,0.0,0,11 NORTE GRANDE

In [14]:
pd.crosstab(pdCampCon.Flagpasopedido,pdCampCon.flagactiva)

flagactiva           0        1
Flagpasopedido
0               317436   155918
1                   26  1028608