In [1]:
import pandas as pd

In [31]:
pdCampCon = pd.read_csv("/Users/shonk/Documents/JupiterNotebook/BelcorpData/campana_consultora.csv",index_col=0)
pddtt_fvta = pd.read_csv("/Users/shonk/Documents/JupiterNotebook/BelcorpData/dtt_fvta_cl.csv",index_col=0)
pdmasterCons = pd.read_csv("/Users/shonk/Documents/JupiterNotebook/BelcorpData/maestro_consultora.csv",index_col=0)
pdmasterProd = pd.read_csv("/Users/shonk/Documents/JupiterNotebook/BelcorpData/maestro_producto.csv",index_col=0)
pdpredisub = pd.read_csv("/Users/shonk/Documents/JupiterNotebook/BelcorpData/predict_submission.csv",index_col=0)

In [33]:
#Explorando Campa√±a Consultora
print(pdCampCon.shape)
pdCampCon.columns.tolist()

(1501988, 21)

['campana',
 'IdConsultora',
 'Flagpasopedido',
 'flagactiva',
 'flagpasopedidocuidadopersonal',
 'flagpasopedidomaquillaje',
 'flagpasopedidotratamientocorporal',
 'flagpasopedidotratamientofacial',
 'flagpedidoanulado',
 'flagpasopedidofragancias',
 'codigofactura',
 'codigocanalorigen',
 'evaluacion_nuevas',
 'segmentacion',
 'flagpasopedidoweb',
 'cantidadlogueos',
 'flagdispositivo',
 'flagdigital',
 'flagofertadigital',
 'flagsuscripcion',
 'geografia']

In [34]:
aggregations = {
    'Flagpasopedido': { 
        'NObs': 'count',  
        'avg_Flagpasopedido': 'mean'}}

pdCampCon.groupby('campana', as_index=False).agg(aggregations)

   campana Flagpasopedido
                     NObs avg_Flagpasopedido
0   201807          70710           0.800453
1   201808          73626           0.752818
2   201809          76670           0.743955
3   201810          79890           0.676806
4   201811          83029           0.668357
5   201812          86139           0.668222
6   201813          86429           0.644749
7   201814          86002           0.652636
8   201815          86693           0.685788
9   201816          86206           0.655430
10  201817          86592           0.688805
11  201818          87235           0.676701
12  201901          86137           0.644589
13  201902          85083           0.628351
14  201903          85277           0.650187
15  201904          84548           0.679661
16  201905          85800           0.703205
17  201906          85922           0.741719

In [28]:
aggregations = {
    'Flagpasopedido': { 
        'NObs': 'count',  
        'avg_Flagpasopedido': 'mean'}}

pdCampCon.groupby('geografia', as_index=False).agg(aggregations)

                      geografia Flagpasopedido
                                          NObs avg_Flagpasopedido
0             00 ADMINISTRATIVO           1200           0.470833
1               11 NORTE GRANDE         235447           0.675668
2     12 SANTIAGO - NORTE CHICO         217474           0.677221
3  13 STGO. / VI?A DEL MAR / VA         196761           0.687789
4       14 SANTIAGO / SUR CHICO         226940           0.691919
5                 15 SUR GRANDE         233818           0.692235
6                16 SUR AUSTRAL         195651           0.688169
7          17 SANTIAGO PONIENTE         194697           0.682368

In [27]:
aggregations = {
    'Flagpasopedido': { 
        'NObs': 'count',  
        'avg_Flagpasopedido': 'mean'}}

pdCampCon.groupby('segmentacion', as_index=False).agg(aggregations)

  segmentacion Flagpasopedido
                         NObs avg_Flagpasopedido
0       Nivel1              4           0.000000
1       Nivel2         446583           0.372762
2       Nivel3          14952           0.968967
3       Nivel4         222009           0.931061
4       Nivel5         495599           0.851069
5       Nivel7           1049           0.989514
6       Nuevas         317321           0.673640
7         Tops           4471           0.980989

In [35]:
#Explorando Maestra Producto
print(pdmasterProd.shape)
pdmasterProd.columns.tolist()

(3190, 9)

['idproducto',
 'codigounidadnegocio',
 'unidadnegocio',
 'codigomarca',
 'marca',
 'codigocategoria',
 'categoria',
 'codigotipo',
 'tipo']

In [36]:
#Explorando Maestra Consultora
print(pdmasterCons.shape)
pdmasterCons.columns.tolist()

(123740, 10)

['campanaingreso',
 'campanaultimopedido',
 'IdConsultora',
 'estadocivil',
 'flagsupervisor',
 'campanaprimerpedido',
 'flagconsultoradigital',
 'flagcorreovalidad',
 'edad',
 'flagcelularvalidado']

In [7]:
print(pddtt_fvta.shape)
print(pdmasterCons.shape)
print(pdmasterProd.shape)
print(pdpredisub.shape)
print(pdCampCon.shape)

(15141943, 21)
(123740, 11)
(3190, 10)
(120895, 2)
(1501988, 22)

In [5]:
pddtt_fvta.columns.tolist()
pdmasterCons.columns.tolist()
pdmasterProd.columns.tolist()
pdpredisub.columns.tolist()
pdCampCon.columns.tolist()

['Unnamed: 0',
 'idproducto',
 'codigounidadnegocio',
 'unidadnegocio',
 'codigomarca',
 'marca',
 'codigocategoria',
 'categoria',
 'codigotipo',
 'tipo']

In [ ]:
pd.crosstab(pdCampCon.Flagpasopedido,pdCampCon.flagactiva)

In [ ]:
pddtt_fvta.head()